body {
    background: linear-gradient(to right, #880992, #088d97);
    font-family: Arial, sans-serif;
}

.container {
    background: rgb(245, 239, 239);
    width: 450px ;
    margin: 250px auto;
    padding: 90px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    padding: 8px;
    width: 80%;
    margin: 10px 0;
}

button {
    padding: 15px 25px;
    background: #9f549f;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #9f549f;
}

.result {
    margin-top: 15px;
    font-weight: bold;
}
