body {
    background-color: #962177;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    width: 420px;
    margin: 210px auto;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

button {
    padding: 10px 18px;
    margin: 8px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #3498db;
    color: white;
}

button:hover {
    background: #2980b9;
}

.reset {
    background: #a33176;
}

.reset:hover {
    background: #b0367f;

.score {
    font-weight: bold;
    margin-bottom: 15px;
}

.result {
    margin-top: 15px;
}
